gwas.txt.gz
gwas.vcf.gz
gwas.vcf.gz.tbi
merged.vcf.gz
merged.vcf.gz.tbi
human_g1k_v37.fasta.gz
human_g1k_v37.fasta
human_g1k_v37.fasta.fai.gz
human_g1k_v37.fasta.fai
schema.json
data/
dbsnp.v153.b37.vcf.gz
dbsnp.v153.b37.vcf.gz.tbi
dbsnp.v153.b37.vcf.gz.rsidx
.RData
